.box-1 {
  position: absolute;
  right: -13%;
  top: -5%;
  width: 600px;
  height: 600px;
  background: linear-gradient(var(--primary-color), #1dd8b6 60%);
  border-radius: 100px;
  transform: rotate(30deg);
}

.box-2 {
  position: absolute;
  left: -12%;
  bottom: -5%;
  width: 600px;
  height: 600px;
  background: linear-gradient(90deg, var(--primary-color), #1dd8b6 60%);
  border-radius: 100px;
  transform: rotate(40deg);
}
