li {
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1769aa;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0, 0.548);
  color: white;
  min-height: 80px;
  position: relative;
  transition: all 0.3s ease;
}

.open-links {
  display: block !important;
}

.navbar .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  display: none;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.navbar .logo {
  justify-self: start;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.navigation-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  margin: 0;
  list-style: none;
  text-align: center;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 10px;
  padding: 10px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
}

.nav-link:hover {
  background-color:  #d5e8f2;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.active {
  background-color:  #104b7f ;
  border-radius: 4px;
}

.menu-icons {
  display: none;
}

.left-side {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  width: 30px;
  /* overflow: hidden; */
  padding: 5px 3px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.open {
  width: 300px !important;
}

.search-bar-icon {
  color: black;
  cursor: pointer;
  margin: 0;
  display: grid;
  place-items: center;
}

.reg-link {
  color: white;
  text-decoration: none;
  padding: 5px 3px;
  font-size: 20px;
}

/* !here */
.search-bar-input {
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  outline: 0;
  /* border: 2px solid #fdc727; */
  border: 0;
  padding: 0 1rem;
  height: 32px;
  box-shadow: #fdc727 0px 0px 3px 3px;
}

.open-input {
  width: 270px;
  display: block !important;
}

.active-search-bar {
  width: 300px;
  margin-right: 1rem;
}

.active-search {
  visibility: visible;
  flex-grow: 1;
  margin-left: 0.5rem;
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

@media (max-width: 1270px) {
  .navbar .navigation-container {
    width: 60%;
  }
}

@media (max-width: 1110px) {
  .navbar .navigation-container {
    width: 70%;
  }
}

@media (max-width: 1010px) {
  .navbar .navigation-container {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .logo-container {
    width: 80%;
  }

  .burger-btn {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    display: none;
    gap: 1rem;
  }

  ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  .left-side {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .visible {
    display: flex;
  }

  .navigation-container {
    position: absolute;
    background: inherit;
    width: 100%;
    top: 100%;
    height: 0px;
    transition: all 0.3s ease;
    flex-direction: column;
    visibility: hidden;
    z-index: 99;
  }

  .nav-links-active {
    display: flex !important;
    height: 350px;
    visibility: visible;
    padding-bottom: 2rem;
  }
}
