.home-header {
  height: 500px;
  margin-bottom: 5dvh;
}

.home-header .text-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header .text-side h1 {
  font-size: 2.5dvw;
  margin-bottom: 3dvh;
  font-weight: 900;
}

.home-header .text-side h3 {
  font-size: 1.5dvw;
  font-weight: 500;
}

.home-header .text-side h1 span {
  color: var(--primary-color);
}

.home-header .carousel-side {
  border-radius: 0.5rem;
}

.carousel-side .carousel-inner,
.carousel-side .carousel-inner .carousel-item {
  height: 500px;
  background: transparent;
  border-radius: 1rem;
}

.carousel-side .carousel-inner img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .home-header {
    height: auto;
  }

  .carousel-side .carousel-inner,
  .carousel-side .carousel-inner .carousel-item {
    height: 50dvw;
  }
}

@media (max-width: 768px) {
  .home-header .text-side h1 {
    font-size: 2rem;
  }

  .home-header .text-side h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
